<!DOCTYPE html>
<html lang="en">
<head>
<meta name="Author" content="Erickson Amuyunzu">
<title>Exercise71</title>
</head>
<!---
  INVESTMENT INTELLIGENCE SYSTEMS CORP.
  THIS MATERIAL IS COPYRIGHTED AS AN UNPUBLISHED WORK UNDER
  SECTIONS 104 AND 408 OF THE TITLE 17 OF THE UNITED STATES CODE.
  UNAUTHOURISED USE, COPYING, OR OTHER REPRODUCTION IS PROHIBITED BY 
  LAW.
--->

<body>
<pre>
   Attention Walmart shoppers:
   Christmas sales begin <time datetime="2020-08-14">September 15</time> at 5am, just in time for the holidays 
</pre>

<strong><abbr title="Solid-State Device">SSD</abbr></strong><br>
   <dfn>SSD</dfn> is an electronic device that electricity flows through<br>
   solid <em>semiconductors</em> instead of vacuum tubes. <br>
   The ampersand symbol is "&amp;".&nbsp;&nbsp;The greater than or equal symbol is "&ge;".
<br>
<hr>
<em><small>x</small>&nbsp;=&nbsp;(-<small>b</small>&nbsp;&pm;(<small>b</small><sup><small>2</small></sup>&nbsp;-&nbsp;<small>4</small><small>a</small><small>c</small>)<sup><small>&frac12;</small></sup>)&nbsp;/&nbsp;<small>2</small><small>a</small></em>

</body>
</html>
