<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="Erickson Amuyunzu">
<style>
hr {width: 50%;
    margin-left: 0;}
</style>
<title>Galley Menu</title>
</head>
<body>
<h1>Galley Menu</h1>
<h3>Today's Special</h3>
<hr>
<h3>Appetizer</h3>
<p>
Broiled oysters with crumbled bacon and cheddar cheese. Topped with hollandaise sauce.
</p>
<h3>Entree</h3>
<p>
Grilled Alaskan Salmon Fillet. Served with capers, wild rice, and fresh vegetables.
<br>
<h3>Dessert</h3>
<p>
Poached Pears in Red Wine Sauce
</p>
</body>
</html>
