<!DOCTYPE html>
<html lan="en">
<head>
<meta charset="utf-8">
<meta name="Author" content="John Dean">
<title>Opacity Example</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/opasity.css')}}"
</head>
<body class="red">
<p class="yellow-bg">
 This line uses background-color: rgb(255, 255, 0);
</p>
<p class="yellow-bg2">
 This line uses bacground-color: rgb(255, 255, 0, .4);
</p>
<p class="yellow-bg3">
 This line uses background-color: rgb(255,255, 0); opacity: .4);
</p>
<blockquote>
  Call me Ishmael. Some years ago-never mind how long precisely-
  having little or no money in my purse, and nothing particular to
  intrest me on shore. I thought I would sail about a little and           
  see the watery part of the world.
</blockquote>
<cite>Moby Dick</cite>
<br>
<span class="hot label">HOT</span>
<span class="cold label">COLD</span>
</body>
</html>
