<!DOCTYPE html>
<html lan="en">
<head>
<meta charset="utf-8">
<meta name="Author" content="John Dean">
<title>Halloween on the River</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/pumpkinPatch.css')}}">
</head>
<body>
<div class="orange">
  Parkville's Halloween on the River, every weekend in October.<br>
  Corn maize: <span class="white orange-background">$10</span><br>
  All you cat eat pumpkins:
  <span class="black orange-background">$15</span>
</div>
</body>
</html>
